.App {
    /* text-align: center; */
    background-color: black;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none; 
  }

.content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeReference {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}