body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SplitPane {
  background-color: black;
  width:100em;
  height: 50em;
}

.SplitPane-left {
  background-color: yellow;
  width: 20em;
  height: 20em;
}

.SplitPane-right{
  background-color: blue;
  width: 40em;
  height: 20em;
}